* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    height: 100%;
}

body {
    background-image: url(https://countdown_timer.github.io/samurai.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#date_input {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.countdown_container {
    margin: 5rem 0;
    display: flex;
}

.time_container {
    margin: 0 2rem;
    display: flex;
    min-width: 12.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(219, 211, 192, 0.3);
    border-radius: 25px;
    padding: 2rem 2rem;
    box-shadow: 5px 5px rgba(53, 44, 37, 0.212);
}

.time_container h2 {
    font-weight: bold;
    font-size: 5em;
}

.time_container span {
    font-weight: normal;
    font-size: 1.2em;
}